@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {

  --darkBlue: hsl(209, 23%, 22%);     /* dark mode elements */
  --veryDarkBlue: hsl(207, 26%, 17%); /* dark mode background */
  --darkestBlue: hsl(200, 15%, 8%);   /* light mode text */
  --darkGray: hsl(0, 0%, 52%);        /* light mode input */
  --veryLightGray: hsl(0, 0%, 98%);   /* light mode background */
  --white: hsl(0, 0%, 100%);          /* light mode elements */

  --fs-homepageItems: 14px;
  --fs-detailPage: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.app {
  min-height: 100vh;
  background-color: var(--veryLightGray);
}

.app.dark {
  background-color: var(--veryDarkBlue);
}

/* Header Styles */

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

header.dark {
  background-color: var(--darkBlue);
  color: var(--white);
}

/* Theme Picker Styles */

.theme-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
}

.theme-picker.dark span {
  color: #fff;
}

.theme-picker button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.theme-picker .icon {
  margin-right: 10px;
}


/* Controls Section Styles */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5%;
  width: 100%;
  color: var(--darkestBlue);
}

.controls.dark {
  background-color: var(--veryDarkBlue);
  color: var(--white);
}

@media screen and (max-width: 795px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

}

/* Search Styles */

.search-input {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.search-input.dark {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.search-icon {
  padding: 0 30px;
  color: var(--darkGray);
}

.search-input input {
  height: 100%;
  width: 100%;
  border: none;
}

.search-icon.dark,
.search-input.dark,
.search-input.dark input {
  background-color: var(--darkBlue);
  color: var(--white);
}

.search-input input:focus {
  outline: none;
}

/* Filter Styles */

.filter {
  display: flex;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  position: relative;
}

.filter.dark,
.filter-options.dark {
  background-color: var(--darkBlue);
  color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.filter-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.filter.dark .filter-select {
  background-color: var(--darkBlue);
  color: var(--white);
}

.filter-options {
  position: absolute;
  top: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.filter-options button {
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 15px 30px;
}

.filter-options button:hover {
  background-color: var(--veryLightGray);
}

.filter-options.dark button {
  background-color: var(--darkBlue);
  color: var(--white);
}

.filter-options.dark button:hover {
  background-color: var(--darkGray);
}



/* CountryCards Styles */

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  justify-content: center;
  justify-items: center;
  gap: 50px;
  padding: 0 5%;
}

.countries-container.dark {
  background-color: var(--veryDarkBlue);
  color: var(--white);
}

.country-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-out;
}

.country-container:hover {
  transform: scale(1.1);
}

.countries-container.dark {
  background-color: var(--veryDarkBlue);
  color: var(--darkestBlue);
}

.country-container img {
  width: 250px;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

.country-container h1 {
  font-size: 16px;
  font-weight: 800;
  margin: 20px 20px 10px 20px;
}

.country-details {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 40px 20px;
  font-size: var(--fs-homepageItems)
}

.country-details span {
  font-weight: 600;
}

.country-details span:not(:last-child) {
  margin-bottom: 10px;
}

.country-container.dark {
  background-color: var(--darkBlue);
  color: var(--white);
}

@media screen and (max-width: 611px) {
  .countries-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .country-container img {
    width: 300px;
    height: 150px;
    border-radius: 5px 5px 0 0;
  }
}

/* CountryDetail Styles */

.detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 70px 5% 0 5%;
}

.detail-container.dark {
  background-color: var(--veryDarkBlue);
  color: var(--white);
}

.detail-container .back-button {
  width: 150px;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: var(--veryLightGray);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.detail-container .back-button:hover {
  background-color: var(--darkGray);
}

.detail-container.dark .back-button {
  background-color: var(--darkBlue);
  color: var(--white);
}

.back-icon {
  margin-right: 10px;
}

.detail-container img {
  width: 600px;
  height: auto;
  border-radius: 5px;
  margin-right: 100px;
}

.detail-card {
  width: 100%;
  height: 100%;
  height: auto;
  display: flex;
  margin-top: 70px;
  align-items: center;
  font-size: var(--fs-detailPage);
}

.detail-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.detail-details h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.detail-information {
  line-height: 1.6rem;
  margin-bottom: 30px;
}

.detail-borders {
  margin-bottom: 50px;
}

.detail-borders button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: var(--veryLightGray);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.3s ease-out;
}

.detail-container.dark .detail-borders button {
  background-color: var(--darkBlue);
  color: var(--white);
}

.detail-container span {
  font-weight: 600;
}